/VulkanTutorial/.vs/VulkanTutorial/v17/*.suo
/VulkanTutorial/.vs/VulkanTutorial/v17/*.db
/VulkanTutorial/.vs/VulkanTutorial/v17/*.db-shm
/VulkanTutorial/.vs/VulkanTutorial/v17/*.db-wal
/VulkanTutorial/.vs/VulkanTutorial/v17/*.opendb
/VulkanTutorial/.vs/VulkanTutorial/v17/*.bin
/VulkanTutorial/.vs/VulkanTutorial/v17/ipch/AutoPCH/4cc692d269119153/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v17/ipch/AutoPCH/5c46d2a993dd4e4b/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v17/ipch/AutoPCH/b296cc5ccd07b70b/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v17/ipch/AutoPCH/c1f64eb7408890c7/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v17/ipch/AutoPCH/e4a597ff6a4e0a57/*.ipch
/VulkanTutorial/00_base_code/*.filters
/VulkanTutorial/00_base_code/*.user
/VulkanTutorial/00_base_code/x64/Debug/*.log
/VulkanTutorial/00_base_code/x64/Debug/*.recipe
/VulkanTutorial/00_base_code/x64/Debug/*.ilk
/VulkanTutorial/00_base_code/x64/Debug/*.obj
/VulkanTutorial/00_base_code/x64/Debug/00_base_code.tlog/*.lastbuildstate
/VulkanTutorial/00_base_code/x64/Debug/00_base_code.tlog/*.tlog
/VulkanTutorial/00_base_code/x64/Debug/*.idb
/VulkanTutorial/00_base_code/x64/Debug/*.pdb
/VulkanTutorial/00_base_code/x64/Release/*.recipe
/VulkanTutorial/00_base_code/x64/Release/*.iobj
/VulkanTutorial/00_base_code/x64/Release/*.ipdb
/VulkanTutorial/00_base_code/x64/Release/*.log
/VulkanTutorial/00_base_code/x64/Release/*.obj
/VulkanTutorial/00_base_code/x64/Release/00_base_code.tlog/*.lastbuildstate
/VulkanTutorial/00_base_code/x64/Release/00_base_code.tlog/*.tlog
/VulkanTutorial/00_base_code/x64/Release/*.pdb
/VulkanTutorial/00_base_code/x64/Debug
/VulkanTutorial/15_hello_triangle/x64/Debug
/VulkanTutorial/15_hello_triangle/x64/Release
/VulkanTutorial/26_texture_mapping/x64/Debug
/VulkanTutorial/15_hello_triangle/*.filters
/VulkanTutorial/26_texture_mapping/*.filters
/VulkanTutorial/26_texture_mapping/*.user
/VulkanTutorial/27_full_screen/x64/Debug/*.idb
/VulkanTutorial/27_full_screen/x64/Debug/*.pdb
/VulkanTutorial/x64/Debug/*.exe
/VulkanTutorial/x64/Debug/*.pdb
/VulkanTutorial/27_full_screen/x64/Debug
/VulkanTutorial/.vs/VulkanTutorial/v17/ipch/AutoPCH/1c6cd89aa8546745/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v17/ipch/AutoPCH/29263861058322c1/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v17/ipch/AutoPCH/aec8ffd7b6d43037/*.ipch
/VulkanTutorial/15_hello_triangle/*.user
/VulkanTutorial/27_full_screen/*.filters
/VulkanTutorial/27_full_screen/*.user
/VulkanTutorial/.vs/VulkanTutorial/v17/ipch/AutoPCH/863aab734e7e0b63/*.ipch
